.selector-for-some-widget {
    box-sizing: content-box;
}

.alert-label {
    margin: 0 105px;
}

.page-container {
    min-height: 450px
}

.logo-company h1 {
    color: green;
    font-weight: bold;
    font-size: 37px;
}

.logo-company p {
    font-weight: normal;
    font-size: smaller;
    margin-bottom: unset;
}

.page-footer {
    background-color: #78bb15;
}

.footer-copyright {
    background-color: #343a40;
}

.div-green {
    background-color: #00834a;
    height: 15px;
}

.ba-no {
    border-radius: 10px;
    background-color: firebrick;
    width: 100%;
    min-height: 315px;
}

.button-print-type {
    min-height: 170px;
}

.button-print-type .button-print-type:hover {
    background-color: #cccccc !important;
}

.button-print-type h1 {
    font-size: 35px;
}

.button-print-type a {
    text-decoration: none !important;
}

.text-shadow {
    text-shadow: 2px 2px 4px #000000;
}

.card-box-shadow {
    box-shadow: 10px -10px 5px grey;
}

.border-radius {
    border-radius: 15%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.custom-modal-content
{
    min-height:600px;
}

.carousel-indicators {
    position: unset;
    min-height: 85px;
}

.carousel-indicators li, .carousel-indicators li.active{
    width: 110px;
    background-color: #fff;
    position: relative;
}
.carousel-indicators img{
    width: 100%;
}

