.selector-for-some-widget {
    box-sizing: content-box;
}

.alert-label {
    margin: 0 105px;
}

.page-container {
    min-height: 700px
}

.logo-company h1 {
    color: green;
    font-weight: bold;
    font-size: 37px;
}

.logo-company p {
    font-weight: normal;
    font-size: smaller;
    margin-bottom: unset;
}

.page-footer {
    background-color: #78bb15;
}

.footer-copyright {
    background-color: #343a40;
}

.div-green {
    background-color: #00834a;
    height: 15px;
}

.ba-no {
    border-radius: 10px;
    background-color: firebrick;
    width: 100%;
    min-height: 315px;
}
